@charset "UTF-8";
/* -------------------------
	リセット
------------------------- */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: normal;
}
ol,ul,li,dl{
	list-style-position: inside;
}
button,input,select,textarea{
	margin:0;
}
html{
	box-sizing: border-box;
	line-height: 1;
	font-size: 62.5%;
}
*,*:before,*:after{
	box-sizing: inherit;
}
iframe{
	border: 0;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
td,th{
	padding: 0;
	text-align: left;
}
hr{
	height: 0;
	border: 0;
}
/*--リストマーカー削除--*/
ul li:before{
	display: none !important;
}
li{
	list-style: none !important;
}
/* -------------------------
	目次
	1.グローバル共通
		1-1.定義
		1-2.機能(func)
		1-3.block
	2.single共通
		2-1.共通
		2-2.インフォメーション(info)
		2-3.ストア(store)
		2-4.年表(index)
		2-5.感想(impression)
		2-6.関連(related)

------------------------- */
/* -------------------------
	1.グローバル共通(ここが更新されたら、他のcssも更新)
------------------------- */
/*	1-1.定義
------------------------- */
:root{
	--result-04: calc(1*4px);
	--result-08: calc(2*4px);
	--result-12: calc(3*4px);
	--result-16: calc(4*4px);
	--result-20: calc(5*4px);
	--result-24: calc(6*4px);
	--result-28: calc(7*4px);
	--result-32: calc(8*4px);
	--result-36: calc(9*4px);
	--result-40: calc(10*4px);
	--result-48: calc(12*4px);
	--result-56: calc(14*4px);
	--result-60: calc(15*4px);
	--result-64: calc(16*4px);
	--color-3: #333;
	--color-6: #666;
	--color-9: #999;
	--color-b: #bbb;
	--color-d: #ddd;
	--color-fa: #fafafa;
	--color-f: #fff;
	--color-link: #06c;
	--color-icon-svg: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(21%) hue-rotate(202deg) brightness(99%) contrast(93%);
	--f-weight-thin: 100;
	--f-weight-normal: 400;
	--f-weight-bold: 800;
}
body{
	width: 100%;
	overflow-x: hidden;
	font-family: 'Lato', 'Raleway', 'M PLUS Rounded 1c', sans-serif;
	font-weight: var(--f-weight-normal);
	font-size: var(--result-16);
	background: var(--color-fa);
	color: var(--color-3);
}
main{
	margin: 0 var(--result-16) 0;
}
a{
	border-radius: var(--result-04);
	text-decoration: none;
	color: var(--color-link);
}
/*	1-2.機能(func)
------------------------- */
/*--横スクロールスライダー--*/
.func__sliderScroll{
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.func__sliderScroll::-webkit-scrollbar{
	display: none;
}
/*	1-3.block
------------------------- */
.article{
	width: 100%;
}
.section{
	position: relative;
	width: 100%;
}
/*--sectionの見出し--*/
.sectionTitle{
	width: 100%;
}
.sectionTitle__text{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(6*4px);
}
/*--ボックス底にある要素を説明する小さい文章--*/
.bottomSmallTitle{
	display: flex;
	justify-content: center;
	align-items: center;
}
.bottomSmallTitle__text{
	font-size: calc(3*4px);
	color: #777;
}
/* -------------------------
	2.single共通
------------------------- */
/*	2-1.共通
------------------------- */
.sectionSingle{
	margin-bottom: var(--result-32);
	padding: 0 var(--result-16) var(--result-32);
}
.sectionSingle:not(:last-child)::after{
	position: absolute;
	top: 100%;
	left: 0;
	content: "";
	width: 100%;
	height: 1px;
	background: var(--color-d);
}
/*--見出し--*/
.sectionTitleSingle{
	margin-bottom: calc(8*4px);
}
/*--見出しの切り替えBOX--*/
.single_f3_switch{
	padding-top: var(--result-16);
}
ul.single_f4_switch-list{
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
}
li.single_f5_switch-author{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    min-width: calc(33.3% - 3.3px);
}
li.single_f5_switch-author:not(:last-child)::after {
    position: absolute;
    top: 4px;
    left: 100%;
    content: "";
    width: 1px;
    height: calc(100% - 8px);
    background: #aaa;
}
.single_f6_switch-button-active{
	padding: calc(1*4px) calc(4*4px);/*---font-sizeと連動---*/
    border-radius: calc(6*4px);
	background: #aaa;
    color: #fff;
	font-weight: 800;
}
.single_f6_switch-button{
	color: #999;
	font-weight: 100;
}
/*	2-2.インフォメーション(info)
------------------------- */
/*--image--*/
.infoImg{
	width: 100%;
}
.infoImgTopCategory/*--上位カテゴリ--*/,
.infoImgSubCategory/*--下位カテゴリ--*/{
	margin-bottom: calc(6*4px);
}
.infoImg__frame{
	width: 100%;
	margin-bottom: calc(4*4px);
	padding: 0 calc(8*4px);
}
.infoImg__decoration{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 1;
	padding: calc(4*4px);
	background: #fff;
	border: 1px solid #ddd;
}
.infoImgTopCategory__decoration{
    border-radius: 50%;
}
.infoImg__image{
	width: 100%;
	height: 100%;
}
.infoImgTopCategory__image{
	border-radius: 50%;
}
/*--summary--*/
.infoSummary{
	width: 100%;
}
.infoSummary__frame{
	width: 100%;
}
.infoSummary__list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.infoSummary__listElement{
	width: 100%;
	margin-bottom: calc(6*4px);
}
.infoSummary__listElement--main{
	padding: 0 calc(2*4px);
}
.infoSummary__listElement--oneThirds{
	min-width: 33.3%;
}
.infoSummary__listElement--oneHalf{
	min-width: 50%;
}
.infoSummary__listElement--twoThirds{
	min-width: 66.6%;
}
.infoSummary__listElement--threeThirds{
	min-width: 100%;
}
.infoSummary__listFrame{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.infoSummary__listTitle{
	margin-bottom: calc(2*4px);
	line-height: 1.25;
	font-size: calc(5*4px);
}
.infoSummary__listTitle--main{
	font-size: calc(6*4px);
}
.infoSummary__listTitle--sub{
	font-size: calc(3*4px);
	color: #777;
}
.infoSummary__listTitleLink{
	font-size: calc(6*4px);
}
/*--link--*/
.infoLinks{
	margin-bottom: calc(6*4px);
}
.infoLinks__frame{
}
.infoLinks__list{
	display: flex;
	margin-bottom: calc(2*4px);
}
.infoLinks__listElement{
	position: relative;
	padding: 0 calc(2*4px);
}
.infoLinks__listElement:not(:last-child)::after{
	position: absolute;
	top: 4px;
	left: 100%;
	content: "";
	width: 1px;
	height: calc(100% - 8px);
	background: #eee;
}
.infoLinks__listElement--oneFourths{
	min-width: calc(25% - 10px);
}
.infoLinks__listElement--oneHalf{
	min-width: calc(50% - 10px);
}
.infoLinks__listElement--threeFourths{
	min-width: calc(75% - 10px);
}
.infoLinks__listElement--fourFourths{
	min-width: 100%;
}
.infoLinks__listLink{
}
.infoLinks__listIcon{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	margin-bottom: calc(1*4px);
}
.infoLinks__listIconImage{
	height: calc(6*4px);
	filter: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(21%) hue-rotate(202deg) brightness(99%) contrast(93%);
	pointer-events: none;
}
.infoLinks__listTitle{
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(3*4px);
    color: #999;
}
.infoLinks__bottomTitleBox{
}
.infoLinks__bottomTitleText{
}
/*--tag--*/
.infoTag{
}
.infoTag__top{/*---スクロール機能あり---*/
	margin-bottom: calc(2*4px);
}
.infoTag__50onList{
	display: flex;
	width: 100%;
}
.infoTag__50onListElement{
	position: relative;
	min-width: calc(33.3% - 3.3px);
}
.infoTag__50onListElement:not(:last-child)::after{
	position: absolute;
	top: 4px;
	left: 100%;
	content: "";
	width: 1px;
	height: calc(100% - 8px);
	background: #eee;
}
.infoTag__50onListTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: calc(3*4px);
	font-size: calc(5*4px);
	color: #555;
}
.infoTag__listFrame{
	padding: 0 calc(2*4px);
}
.infoTag__list{
	min-height: calc(18*4px);
}
.infoTag__listElement{
	margin-bottom: calc(2*4px);
	font-size: calc(3*4px);
}
.infoTag__listLink{
}
.infoTag__bottomBox{
}
.infoTag__bottomTitleText{
}
/*	2-3.ストア(store)
------------------------- */
.single_store_f1{
}
/*---box---*/
.single_store_f2_box{
}
ul.single_store_f3_list{
	position: relative;
	display: flex;
	width: 100%;
}
ul.single_store_f3_list:not(:last-child)::after {
	position: absolute;
	top: 100%;
	left: 0;
	content: "";
	width: 100%;
	height: 1px;
	background: #aaa;
}
li.single_store_f4_title{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 33.3%;
	aspect-ratio: 16 / 9;
	font-size: calc(5*4px);
}
li.single_store_f4_title.one-thirds{
	min-width: 33.3%;
	aspect-ratio: 16 / 9;
}
li.single_store_f4_title.one-half{
	min-width: 50%;
	aspect-ratio: 16 / 9;
}
li.single_store_f4_title.two-thirds{
	min-width: 66.6%;
	aspect-ratio: 32 / 9;
}
li.single_store_f4_title.three-thirds{
	min-width: 100%;
	aspect-ratio: 48 / 9;
}
li.single_store_f4_title a{
	display: flex;
	justify-content: center;
    align-items: center;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
}
li.single_store_f4_title:not(:last-child)::after{
	position: absolute;
	top: 8px;
	left: 100%;
	content: "";
	width: 1px;
	height: calc(100% - 16px);
	background: #aaa;
}
/*	2-4.年表(index)
------------------------- */
/*--index--*/
.single_index_f1{
}
.single_index_f2_age{
	margin-bottom: calc(5*4px);
	font-size: calc(10*4px);
	font-weight: 800;
	line-height: 1.25;
	color: #999;
}
.single_index_f2_main-box{
	position: relative;
	padding: 0 calc(8*4px);
}
.single_index_f2_main-box:not(:last-child){
	margin-bottom: calc(8*4px);
	padding-bottom: calc(8*4px);
}
.single_index_f2_main-box:not(:last-child)::after{
	position: absolute;
	top: 100%;
	left: 0;
	content: "";
	width: 100%;
	height: 1px;
	background: #eee;
}
.single_index_f3_product-box{
	position: relative;
}
.single_index_f3_product-box:not(:last-child){
	margin-bottom: calc(8*4px);
	padding-bottom: calc(8*4px);
}
.single_index_f3_product-box:not(:last-child)::after{
	position: absolute;
	top: 100%;
	left: 0;
	content: "";
	width: 100%;
	height: 1px;
	background: #eee;
}
.single_index_f4_product-title-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: calc(4*4px);
}
.single_index_f5_product-title{
	margin-bottom: calc(1*4px);
	font-size: calc(5*4px);
	line-height: 1.25;
}
.single_index_f5_single-link-box{
	font-size: calc(3*4px);
}
a.single_index_f6_single-link{
	display: flex;
}
.single_index_f7_single-link-title{
}
.single_index_f7_single-link-icon{
	width: calc(3*4px);
	filter: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(21%) hue-rotate(202deg) brightness(99%) contrast(93%);
    pointer-events: none;
}
.single_index_f4_product-image-box{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 1;
	padding: calc(4*4px);
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom: calc(4*4px);
}
.single_index_f5_image-box{
	height: 100%;
}
img.single_index_f6_image{
	height: 100%;
}
.single_index_f4_product-info-box{
	width: 100%;
}
.single_index_f5_product-store-box{
	margin-bottom: calc(2*4px);
}
ul.single_index_f6_product-store-list{
	position: relative;
	display: flex;
	width: 100%;
}
ul.single_index_f6_product-store-list:not(:last-child)::after{
	position: absolute;
	top: 100%;
	left: 0;
	content: "";
	width: 100%;
	height: 1px;
	background: #aaa;
}
li.single_index_f7_product-store-title{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 33.3%;
	aspect-ratio: 16 / 9;
	font-size: calc(4*4px);
}
li.single_index_f7_product-store-title.one-thirds{
	min-width: 33.3%;
	aspect-ratio: 16 / 9;
}
li.single_index_f7_product-store-title.one-half{
	min-width: 50%;
	aspect-ratio: 16 / 9;
}
li.single_index_f7_product-store-title.two-thirds{
	min-width: 66.6%;
	aspect-ratio: 32 / 9;
}
li.single_index_f7_product-store-title.three-thirds{
	min-width: 100%;
	aspect-ratio: 48 / 9;
}
li.single_index_f7_product-store-title a{
	display: flex;
	justify-content: center;
    align-items: center;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
}
li.single_index_f7_product-store-title:not(:last-child)::after{
	position: absolute;
	top: 8px;
	left: 100%;
	content: "";
	width: 1px;
	height: calc(100% - 16px);
	background: #aaa;
}
.single_index_f5_product-sub-box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.single_index_f6_product-sub-title{
	font-size: calc(3*4px);
	color: #777;
}
/*	2-5.感想(impression)
------------------------- */
.single_impression_f1{
}
.single_impression_f2_text-box:not(:last-child){
	margin-bottom: calc(12*4px);
}
.single_impression_f2_text-box:last-child{
	margin-bottom: calc(8*4px);
}
.single_impression_f3_box{
	display: flex;
	justify-content: center;
}
.single_impression_f3_box:not(:last-child){
	margin-bottom: calc(12*4px);
}
.single_impression_f4_number{
	min-width: calc(5*4px);
	margin-right: calc(3*4px);
	font-size: calc(5*4px);
}
.single_impression_f4_box{
}
.single_impression_f5_title{
	margin-bottom: calc(5*4px);
	font-size: calc(5*4px);
}
.single_impression_f5_text{
}
.single_impression_f5_text p{
	line-height: 1.25;
}
.single_impression_f5_text p:not(:last-child){
	margin-bottom: calc(4*4px);
}
.single_impression_f3_nest-box{
	display: flex;
	justify-content: center;
}
.single_impression_f3_nest-box:not(:last-child){
	margin-bottom: calc(12*4px);
}
.single_impression_f4_nest-number{
	min-width: calc(10*4px);
	margin-right: calc(2*4px);
	font-size: calc(5*4px);
}
.single_impression_f4_nest-box{
}
.single_impression_f5_nest-title{
	margin-bottom: calc(5*4px);
	font-size: calc(5*4px);
}
.single_impression_f5_nest-text{
}
.single_impression_f5_nest-text p{
	line-height: 1.25;
}
.single_impression_f5_nest-text p:not(:last-child){
	margin-bottom: calc(4*4px);
}
/*	2-6.関連(related)
------------------------- */
.single_related_f1{
}
.single_related_f2_main-box{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.single_related_f3_main-box{/*---スクロール機能あり---*/
	display: flex;
	width: 100%;
}
.single_related_f3_main-box:not(:last-child){
	margin-bottom: calc(6*4px);
}
ul.single_related_f4_list{
	display: flex;
	width: 100%;
}
li.single_related_f5_box{
	min-width: calc(50% - 8px);
}
li.single_related_f5_box.over2{
	min-width: calc(50% - 20px);
}
li.single_related_f5_box:not(:last-child){
	margin-right: calc(4*4px);
}
li.single_related_f5_box:last-child{
	display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: calc(2*4px);/*---.single_related_f7_title-boxのpaddingと連動---*/
}
.single_related_f6_title-box{
	font-size: calc(10*4px);
	font-weight: 800;
	line-height: 1.25;
	color: #999;
}
li.single_related_f5_box:last-child .single_related_f6_title-box.over4{
	width: calc(30*4px);/*---上記font-sizeと連動、3文字分---*/
}
a.single_related_f6_link{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0;
	color: #222;
}
.single_related_f7_image-box{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: calc(2*4px);
}
img.single_related_f8_image{
	width: 100%;
	border-radius: 50%;
}
.single_related_f7_title-box{
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.25;
	font-size: calc(3*4px);
}
