@charset "UTF-8";
/* リセット
------------------------- */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ol,ul,li,dl{list-style-position: inside;}
button,input,select,textarea{margin:0;}
html{
	box-sizing:border-box;
	line-height:1;
	font-size: 62.5%; /*  50 56.25 62.5 68.75 75*/
}
*,*:before,*:after{box-sizing:inherit;}
iframe{border:0;}
table{
	border-collapse:collapse;
	border-spacing:0;
}
td,th{
	padding:0;
	text-align:left;
}
hr{
	height: 0;
	border: 0;
}
/*---リストマーカー削除---*/
ul li:before{
	display: none !important;
}
li{
	list-style: none !important;
}
/* 共通
------------------------- */
body{
	width: 100%;
	overflow-x: hidden;
	font-family: 'Lato', 'Raleway', 'M PLUS Rounded 1c', sans-serif;
	font-weight: 400;
	font-size: calc(4*4px);
	color: #222;
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
main{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 calc(4*4px) 0;
}
/*---自作スライダー---*/
.func_slider-scroll{
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.func_slider-scroll::-webkit-scrollbar{
	display: none;
}
/* シングル
------------------------- */
article.single-article{
	max-width: calc(80*4px);
}
/*---info---*/
/*---image---*/
.single_info_img_f1{
	width: 100%;
	margin-bottom: calc(8*4px);
}
.single_info_img_f2_main-box{
	width: 100%;
	margin-bottom: calc(4*4px);
}
.single_info_img_f3_main-box{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 1;
	padding: calc(3*4px);
	background: #fafafa;
	border: 1px solid #ddd;
}
img.single_info_img_f4_main-image{
	height: 100%;
}
.single_info_img_f2_sub-box{
	width: 100%;
}
.single_info_img_f3_sub-box{/*---スクロール機能あり---*/
	width: 100%;
}
ul.single_info_img_f4_sub-image-list{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}
li.single_info_img_f5_sub-image-box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: calc(25% - 10px);
	aspect-ratio: 1;
	background: #fafafa;
	border: 1px solid #ddd;
}
li.single_info_img_f5_sub-image-box:not(:last-child){
	margin-right: calc(2*4px);
}
img.single_info_img_f6_sub-image{
	height: 100%;
}
/*---summary---*/
.single_info_summary_f1{
	width: 100%;
	margin-bottom: calc(8*4px);
}
.single_info_summary_f2_box{
	width: 100%;
}
ul.single_info_summary_f3_list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
li.single_info_summary_f4_box{
}
li.single_info_summary_f4_main-box{
	width: 100%;
	margin-bottom: calc(4*4px);
	padding: 0 calc(2*4px);
}
li.single_info_summary_f4_sub-box{
	min-width: 33.3%;
}
.single_info_summary_f5_box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.single_info_summary_f6_main-box{
	margin-bottom: calc(2*4px);
	font-size: calc(6*4px);
}
.single_info_summary_f6_sub-box{
	font-size: calc(3*4px);
	color: #777;
}
/*---tag---*/
.single_info_tag_f1{
}
.single_info_tag_f2_main-box{/*---スクロール機能あり---*/
	margin-bottom: calc(1*4px);
}
ul.single_info_tag_f3_list{
	display: flex;
	width: 100%;
}
li.single_info_tag_f4_box{
	position: relative;
	min-width: calc(33.3% - 3.3px);
}
li.single_info_tag_f4_box:not(:last-child)::after {
	position: absolute;
	top: 4px;
	left: 100%;
	content: "";
	width: 1px;
	height: calc(100% - 4px);
	background: #fafafa;
}
.single_info_tag_f5_sub-box{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: calc(3*4px);
	font-size: calc(5*4px);
	color: #555;
}
.single_info_tag_f5_main-box{
	padding: 0 calc(2*4px);
}
ul.single_info_tag_f6_list{
}
li.single_info_tag_f7_box{
	margin-bottom: calc(2*4px);
	font-size: calc(3*4px);
}
.single_info_tag_f2_sub-box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.single_info_tag_f3_box{
	font-size: calc(3*4px);
	color: #777;
}
