@charset "UTF-8";
/* リセット
------------------------- */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ol,ul,li,dl{list-style-position: inside;}
button,input,select,textarea{margin:0;}
html{
	box-sizing:border-box;
	line-height:1;
	font-size: 62.5%; /*  50 56.25 62.5 68.75 75*/
}
*,*:before,*:after{box-sizing:inherit;}
iframe{border:0;}
table{
	border-collapse:collapse;
	border-spacing:0;
}
td,th{
	padding:0;
	text-align:left;
}
hr{
	height: 0;
	border: 0;
}

/* 共通
------------------------- */
body{
	width:100%;
	overflow-x: hidden;
	font-family: 'Lato', 'Raleway', 'M PLUS Rounded 1c', sans-serif;
	font-weight: 400;
	font-size: calc(4*4px);
	color: #222;
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

/* シングル
------------------------- */
.single_img_f1{
	width: 100%;
	background-color: #eee;
}
.single_img_f2_main-box{
	width: 100%;
}
.single_img_f3_main-box{
	width: auto;
	margin: 0 auto;
}
.single_img_f3_main-box img{
	
}
.single_img_f2_sub-box{

}
.single_img_f3_sub-box{

}
.single_img_f3_sub-box img{

}
