@charset "UTF-8";
/* リセット
------------------------- */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ol,ul,li,dl{list-style-position: inside;}
button,input,select,textarea{margin:0;}
html{
	box-sizing:border-box;
	line-height:1;
	font-size: 62.5%; /*  50 56.25 62.5 68.75 75*/
}
*,*:before,*:after{box-sizing:inherit;}
iframe{border:0;}
table{
	border-collapse:collapse;
	border-spacing:0;
}
td,th{
	padding:0;
	text-align:left;
}
hr{
	height: 0;
	border: 0;
}
/*---リストマーカー削除---*/
ul li:before{
	display: none !important;
}
li{
	list-style: none !important;
}
/* 共通
------------------------- */
body{
	width:100%;
	overflow-x: hidden;
	font-family: 'Lato', 'Raleway', 'M PLUS Rounded 1c', sans-serif;
	font-weight: 400;
	font-size: calc(4*4px);
	color: #222;
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.main{
	position:relative;
	display: block;
	max-width: calc(240*4px);
	margin: 0 calc(4*4px) calc(16*4px);
}
/* シングル
------------------------- */
.single_img_f1{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 100%;
	width: 100%;
}
.single_img_f2_main-box{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.single_img_f3_main-box{
	width: 100%;
	max-width: calc(60*4px);
	padding: calc(3*4px);
	background: #eee;
	border : 1px solid #ddd;
}
img.single_img_f4_main-image{
	width: 100%;
}
.single_img_f2_sub-box{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.single_img_f3_sub-box{
	width: 100%;
	max-width: calc(60*4px);
	background: #fafafa;
}
ul.single_img_f4_sub-image-list{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}
li.single_img_f5_sub-image-box{
	min-width: calc(25%-6px);
	border : 1px solid #ddd;
}
li.single_img_f5_sub-image-box:not(:last-child){
	margin-right: calc(2*4px);
}
img.single_img_f6_sub-image{
	width: 100%;
}
