@charset "UTF-8";
/* -------------------------
	リセット
------------------------- */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: normal;
}
ol,ul,li,dl{
	list-style-position: inside;
}
button,input,select,textarea{
	margin:0;
}
html{
	box-sizing: border-box;
	line-height: 1;
	font-size: 62.5%;
}
*,*:before,*:after{
	box-sizing: inherit;
}
iframe{
	border: 0;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
td,th{
	padding: 0;
	text-align: left;
}
hr{
	height: 0;
	border: 0;
}
/*--リストマーカー削除--*/
ul li:before{
	display: none !important;
}
li{
	list-style: none !important;
}
/* -------------------------
	目次
	1.グローバル共通
		1-1.定義
		1-2.機能(func)
		1-3.block
	2.single共通
		2-1.共通
		2-2.インフォメーション(info)
		2-3.感想(impression)
		2-4.ストア(store)
		2-5.年表(chronicle)(上位カテゴリのみ)
		2-6.関連(related)
		2-7.目次・索引

------------------------- */
/* -------------------------
	1.グローバル共通(ここが更新されたら、他のcssも更新)
------------------------- */
/*	1-1.定義
------------------------- */
:root{
	--result-04: calc(1*4px);
	--result-08: calc(2*4px);
	--result-12: calc(3*4px);
	--result-16: calc(4*4px);
	--result-20: calc(5*4px);
	--result-24: calc(6*4px);
	--result-28: calc(7*4px);
	--result-32: calc(8*4px);
	--result-36: calc(9*4px);
	--result-40: calc(10*4px);
	--result-48: calc(12*4px);
	--result-56: calc(14*4px);
	--result-60: calc(15*4px);
	--result-64: calc(16*4px);
	--color-3: #333;
	--color-6: #666;
	--color-9: #999;
	--color-b: #bbb;
	--color-d: #ddd;
	--color-fa: #fafafa;
	--color-f: #fff;
	--color-link: #06c;
	--color-icon-svg: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(21%) hue-rotate(202deg) brightness(99%) contrast(93%);
	--f-weight-thin: 100;
	--f-weight-normal: 400;
	--f-weight-bold: 800;
}
body{
	width: 100%;
	overflow-x: hidden;
	font-family: 'Lato', 'Raleway', 'M PLUS Rounded 1c', sans-serif;
	font-weight: var(--f-weight-normal);
	font-size: var(--result-16);
	background: var(--color-fa);
	color: var(--color-3);
}
main{
	margin: 0 var(--result-16) 0;
}
a{
	display: inline-block;
	border-radius: var(--result-04);
	text-decoration: none;
	color: var(--color-link);
}
/*	1-2.機能(func)
------------------------- */
/*--横スクロールスライダー--*/
.func__sliderScroll{
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.func__sliderScroll::-webkit-scrollbar{
	display: none;
}
/*	1-3.block
------------------------- */
.article{
	width: 100%;
}
.section{
	position: relative;
	width: 100%;
}
/*--sectionの見出し--*/
.sectionTitle{
	width: 100%;
}
.sectionTitle__text{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(6*4px);
}
/*--ボックス底にある要素を説明する小さい文章--*/
.bottomSmallTitle{
	display: flex;
	justify-content: center;
	align-items: center;
}
.bottomSmallTitle__text{
	font-size: calc(3*4px);
	color: #777;
}
/* -------------------------
	2.single共通
------------------------- */
/*	2-1.共通
------------------------- */
.sectionSingle{
	margin-bottom: var(--result-64);
	padding: 0 var(--result-16) var(--result-64);
}
.sectionSingle:last-child{
	margin-bottom: var(--result-32);
	padding-bottom: var(--result-32);
}
.sectionSingle:not(:last-child)::after{
	position: absolute;
	top: 100%;
	left: 0;
	content: "";
	width: 100%;
	height: 1px;
	background: var(--color-d);
}
/*--見出し--*/
.sectionTitleSingle{
	margin-bottom: calc(8*4px);
}
/*	2-2.インフォメーション(info)
------------------------- */
/*--title(トピックスのみ)--*/
.infoTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: calc(8*4px);
}
.infoTitle__text{
	line-height: 1.25;
	font-size: calc(6*4px);
}
/*--image--*/
.infoImg{
	width: 100%;
}
.infoImg--topCategory/*--上位カテゴリ--*/,
.infoImg--subCategory/*--下位カテゴリ--*/,
.infoImg--topicsCategory/*--topics--*/{
	margin-bottom: calc(8*4px);
}
.infoImg__frame{
	width: 100%;
	padding: 0 calc(8*4px);
}
.infoImg__imageDecoration{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 1;
	background: #fff;
	border: 1px solid #ddd;
}
.infoImg__imageDecoration--topCategory{
    border-radius: 50%;
}
.infoImg__imageDecoration--subCategory{
	border-radius: var(--result-04);
}
.infoImg__imageFrame{
	height: 100%;
}
.infoImg__imageFrame--topCategory{
	padding: calc(4*4px);
}
.infoImg__imageFrame--subCategory{
	padding: calc(4*4px);
}
.infoImg__imageFrame--topicsCategory{
	width: 100%;
	aspect-ratio: 16 / 9;
}
.infoImg__image{
	height: 100%;
}
.infoImg__image--topCategory{
	border-radius: 50%;
}
.infoImg__image--topicsCategory{
	width: 100%;
}
/*--summary--*/
.infoSummary{
	width: 100%;
}
.infoSummary--subCategory{
	margin-bottom: calc(4*4px);
}
.infoSummary__frame{
	width: 100%;
}
.infoSummary__list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.infoSummary__listElement{
	width: 100%;
	margin-bottom: calc(4*4px);
}
.infoSummary__listElement--main{
	margin-bottom: calc(8*4px);
	padding: 0 calc(2*4px);
}
.infoSummary__listElement--oneThirds{
	width: 33.3%;
}
.infoSummary__listElement--oneHalf{
	width: 50%;
}
.infoSummary__listElement--twoThirds{
	width: 66.6%;
}
.infoSummary__listElement--threeThirds{
	width: 100%;
}
.infoSummary__listFrame{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.infoSummary__listTitle{
	margin-bottom: calc(2*4px);
	line-height: 1.25;
	font-size: calc(5*4px);
}
.infoSummary__listTitle--main{
	font-size: calc(6*4px);
}
.infoSummary__listTitle--sub{
	font-size: calc(3*4px);
	color: #777;
}
.infoSummary__listTitleLink{
}
/*--link--*/
.infoLinks{
	margin-bottom: calc(8*4px);
}
.infoLinks__frame{
}
.infoLinks__list{
	display: flex;
	margin-bottom: calc(2*4px);
}
.infoLinks__listElement{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 calc(2*4px);
}
.infoLinks__listElement:not(:last-child)::after{
	position: absolute;
	top: 4px;
	left: 100%;
	content: "";
	width: 1px;
	height: calc(100% - 8px);
	background: #eee;
}
.infoLinks__listElement--oneFourths{
	min-width: calc(25% - 10px);
}
.infoLinks__listElement--oneHalf{
	min-width: calc(50% - 10px);
}
.infoLinks__listElement--threeFourths{
	min-width: calc(75% - 10px);
}
.infoLinks__listElement--fourFourths{
	min-width: 100%;
}
.infoLinks__listLink{
}
.infoLinks__listIcon{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	margin-bottom: calc(1*4px);
}
.infoLinks__listIconImage{
	height: calc(6*4px);
	filter: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(21%) hue-rotate(202deg) brightness(99%) contrast(93%);
	pointer-events: none;
}
.infoLinks__listTitle{
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(3*4px);
    color: #999;
}
/*--tag--*/
.infoTag{
}
.infoTag__frame{/*--スクロール機能あり--*/
	margin-bottom: calc(2*4px);
}
.infoTag__50onList{
	display: flex;
	width: 100%;
}
.infoTag__50onListElement{
	position: relative;
	min-width: calc(33.3% - 3.3px);
}
.infoTag__50onListElement:not(:last-child)::after{
	position: absolute;
	top: 4px;
	left: 100%;
	content: "";
	width: 1px;
	height: calc(100% - 8px);
	background: #eee;
}
.infoTag__50onListTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: calc(3*4px);
	font-size: calc(5*4px);
	color: #555;
}
.infoTag__listFrame{
	padding: 0 calc(2*4px);
}
.infoTag__list{
	min-height: calc(18*4px);
}
.infoTag__listElement{
	margin-bottom: calc(2*4px);
	font-size: calc(3*4px);
}
.infoTag__listLink{
}
/*--topicsのみ--*/
.infoTag__topicsList{
	display: flex;
	justify-content: center;
	align-items: center;
}
.infoTag__topicsListElement{
	font-size: calc(5*4px);
}
.infoTag__topicsListLink{
}
/*	2-3.感想(impression)
------------------------- */
.impression{
}
.impressionTextFrame:not(:last-child){
	margin-bottom: calc(12*4px);
}
.impressionTextBox{
	display: flex;
	justify-content: center;
}
.impressionTextBox:not(:last-child){
	margin-bottom: calc(12*4px);
}
.impressionText__number{
	min-width: calc(5*4px);
	margin-right: calc(3*4px);
	font-size: calc(5*4px);
}
.impressionText__letterBody{
}
.impressionText__letterTitle{
	margin-bottom: calc(5*4px);
	font-size: calc(5*4px);
}
.impressionText__letterText{
}
.impressionText__letterText p{
	line-height: 1.25;
}
.impressionText__letterText p:not(:last-child){
	margin-bottom: calc(4*4px);
}
/*--入れ子(nest)--*/
.impressionTextBox--nest:not(:last-child){
	margin-bottom: calc(12*4px);
}
.impressionText__number--nest{
	min-width: calc(10*4px);
	margin-right: calc(2*4px);
}
/*	2-4.ストア(store)
------------------------- */
.store{
	font-size: calc(5*4px);
}
.storeIndex{/*--chronicleのみ--*/
	font-size: calc(4*4px);
}
.store__frame{
}
.store__list{
	position: relative;
	display: flex;
	width: 100%;
}
.store__list:not(:last-child)::after {
	position: absolute;
	top: 100%;
	left: 0;
	content: "";
	width: 100%;
	height: 1px;
	background: #aaa;
}
.store__listElement{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.3%;
	aspect-ratio: 16 / 9;
}
.store__listElement--oneThirds{
	width: 33.3%;
}
.store__listElement--oneHalf{
	width: 50%;
}
.store__listElement--twoThirds{
	width: 66.6%;
	aspect-ratio: 32 / 9;
}
.store__listElement--threeThirds{
	width: 100%;
	aspect-ratio: 48 / 9;
}
.store__listElement:not(:last-child)::after{
	position: absolute;
	top: 8px;
	left: 100%;
	content: "";
	width: 1px;
	height: calc(100% - 16px);
	background: #aaa;
}
.store__listLink{
	display: flex;
	justify-content: center;
    align-items: center;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
}
/*	2-5.年表(chronicle)(上位カテゴリのみ)
------------------------- */
.chronicle{
}
.chronicle__age{
	margin-bottom: calc(5*4px);
	font-size: calc(10*4px);
	font-weight: 800;
	line-height: 1.25;
	color: #999;
}
.chronicleProductCatalog{
	position: relative;
	padding: 0 calc(8*4px);
}
.chronicleProductCatalog:not(:last-child){
	margin-bottom: calc(8*4px);
	padding-bottom: calc(8*4px);
}
.chronicleProductCatalog:not(:last-child)::after{
	position: absolute;
	top: 100%;
	left: 0;
	content: "";
	width: 100%;
	height: 1px;
	background: #eee;
}
.chronicleProduct{
	position: relative;
}
.chronicleProduct:not(:last-child){
	margin-bottom: calc(8*4px);
	padding-bottom: calc(8*4px);
}
.chronicleProduct:not(:last-child)::after{
	position: absolute;
	top: 100%;
	left: 0;
	content: "";
	width: 100%;
	height: 1px;
	background: #eee;
}
.chronicleProduct__frame{
}
.chronicleProduct__title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: calc(4*4px);
}
.chronicleProduct__titleText{
	margin-bottom: calc(1*4px);
	font-size: calc(5*4px);
	line-height: 1.25;
}
.chronicleProduct__detail{
	font-size: calc(3*4px);
}
.chronicleProduct__detailLink{
	display: flex;
}
.chronicleProduct__detailLinkTitle{
}
.chronicleProduct__detailLinkIcon{
	width: calc(3*4px);
	filter: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(21%) hue-rotate(202deg) brightness(99%) contrast(93%);
    pointer-events: none;
}
.chronicleProduct__imageDecoration{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 1;
	margin-bottom: calc(4*4px);
	padding: calc(4*4px);
	background: #fff;
	border: 1px solid #ddd;
	border-radius: var(--result-04);
}
.chronicleProduct__imageFrame{
	height: 100%;
}
.chronicleProduct__image{
	height: 100%;
}
/*	2-6.関連(related)
------------------------- */
.related{
}
.related__frame{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.related__listFrame{/*--スクロール機能あり--*/
	display: flex;
	width: 100%;
}
.related__listFrame:not(:last-child){
	margin-bottom: calc(6*4px);
}
.related__list{
	display: flex;
	width: 100%;
}
.related__listElement{
	min-width: calc(50% - 20px);
}
.related__listElement:not(:last-child){
	margin-right: calc(4*4px);
}
.related__listElement:last-child{
	display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: calc(2*4px);/*--.single_related_f7_title-boxのpaddingと連動--*/
}
.related__listTitle{
	font-size: calc(10*4px);
	font-weight: 800;
	line-height: 1.25;
	color: #999;
}
.related__listTitle--link{
	color: var(--color-link);
}
.related__listLink{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0;
	color: #333;
}
.related__listLinkImageFrame{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: calc(2*4px);
}
.related__listLinkImage{
	width: 100%;
}
.related__listLinkImage--topCategory{
	border-radius: 50%;
}
.related__listLinkTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.25;
	font-size: calc(3*4px);
}
/*	2-7.目次・索引
------------------------- */
/*--目次(topicsのみ)--*/
.index{
}
.indexFrame{
}
.indexFrame:not(:last-child){
	margin-bottom: calc(5*4px);
}
.indexTitleBox{
	display: flex;
	font-size: calc(5*4px);
}
.indexTitleBox:not(:last-child){
	margin-bottom: calc(5*4px);
}
.indexTitle__number{
	min-width: calc(5*4px);
	margin-right: calc(3*4px);
}
.indexTitle__body{
}
.indexTitle__text{
}
/*--入れ子(nest)--*/
.indexTitleBox--nest{
	font-size: calc(4*4px);
}
.indexTitleBox--nest:not(:last-child){
	margin-bottom: calc(4*4px);
}
.indexTitle__number--nest{
	min-width: calc(10*4px);
	margin-left: calc(9*4px);
	margin-right: calc(2*4px);
}